<% include partials/header %>

	<div class="container">
		<div id='login-form'>

		<h3> Comment </h3>
		<form action="/dishes/<%= foundDish._id %>/comments" method="POST">

		  <div class="form-group">
		    <label class='sr-only' for="content">Content:</label>
		    <input type="text" name='comment[content]' class="form-control" id="content" placeholder='Content'>
		  </div>
		  
		  <button type="submit" class="btn btn-danger btn-block btn-form">Comment</button>
		</form>

		<br/>

		<a href="/dishes/<%= foundDish._id %>"> Previous page </a>

		</div>
	</div>

<% include partials/footer %>